#contador {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
    border: 5px solid red;
}

#btnContainer {
    text-align: center;
    border: 2px solid red;
    
}

button {
    padding: 10px 20px;
    background-color: rgb(31, 34, 194);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.25s;
}

button:hover {
    background-color: rgb(37, 37, 141);
}