body {
    background-color: #0D060F;
    color: #766B65;
    font-family: 'Libertinus';
}
span {
    margin-left: 5px
}
h3 {
    padding: 0px;
}

#ab {
    border: 2px solid grey;
    height: 100px;
    width: 900px;
    float: left;
    padding: 5px;

} 
#relogio {
    text-align: center;
    font-size: 50px;
    color: #5D3C18;
}
.clear {
    clear: both;
}



#revisao {
    border: 5px solid grey;
    border-radius: 5px;
    width: 250px;
    height: 250px;
    float: right;
    margin-right: 30px;
    padding: 10px;
}

a {
    text-decoration: none;
}
a:link {
    color: #766B65;
}

a:visited{
    color: aqua;
}

a:hover {
    color: #5D3C18;
}


/* Fontes */
@font-face {
    font-family: "Libertinus";
    src: url(./Font/LibertinusSans-Regular.ttf) format('truetype');
}

